<!DOCTYPE html>
<html>
<head>
  <title>Impact</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="grabber-box col-xs-12">
		<h2 class="impact-header">Welcome to</h2>
		<h1>IMPACT</h1>
		<h2>A place where homeschooled kids can choose to make a big impact!</h2>
	</div>	

	<%= @facts.each do |fact| %>
	<div class="truth-box col-xs-12 col-sm-6">
		<h3>Myth:</h3><p><%= fact.myth %></p>
		<h3>Truth:</h3><p><%= fact.truth %></p>
	</div>
	<hr/>
<% end %>

<%= yield %>

</body>
</html>
